# ======================
# node dependencies
# ======================
backend/node_modules/
frontend/node_modules/
admin-frontend/node_modules/
node_modules/

# ======================
# env files
# ======================
backend/.env

# ======================
# build output
# ======================
frontend/dist/
admin-frontend/dist/

# ======================
# system files
# ======================
.DS_Store
Thumbs.db
